<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  </td>
  <td>
    <div style="display: flex; flex-direction: column;">
      <% if active_sale? %>
        <s style=""><%= humanized_money_with_symbol product.price %></s>
        <span style="color: red"><%= humanized_money_with_symbol price_with_discount(product.price) %></span>
      <% else %>
        <span><%= humanized_money_with_symbol product.price %></span>
      <% end %>
    </div>
  </td>
  <td>
    <div>
    <%= button_to remove_item_cart_path(product_id: product.id), class: 'btn btn-xs btn-danger' do %> - <% end %>
    <%= quantity %>
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-xs btn-success' do %> + <% end %>
    </div>
  </td>
  <td>
    <div style="display: flex; flex-direction: column;">
      <% if active_sale? %>
        <s><%= humanized_money_with_symbol product.price * quantity %></s>
        <span style="color: red"><%= humanized_money_with_symbol price_with_discount(product.price) * quantity %></span>
      <% else %>
        <%= humanized_money_with_symbol product.price * quantity %>
      <% end %>
    </div>
  </td>
</tr>
